BEGIN;
DROP FUNCTION IF EXISTS public.ajustar_credito_superadmin(UUID, BIGINT, CHAR);

CREATE OR REPLACE FUNCTION public.ajustar_credito_superadmin(
    p_id_contratante UUID,
    p_monto_ajuste BIGINT, -- Positivo (abono) o Negativo (cargo)
    p_moneda CHAR(3) DEFAULT 'PEN',
    p_motivo TEXT DEFAULT 'AJUSTE_SUPERADMIN'
) RETURNS BOOLEAN AS $body
DECLARE
    v_es_superadmin BOOLEAN;
    v_tipo_movimiento TEXT;
    v_monto_absoluto BIGINT;
    v_saldo_actual BIGINT;
BEGIN
    -- Validar permisos de Superadmin
    SELECT EXISTS (
        SELECT 1 FROM public."Superadministradores" WHERE "IdSuperadmin" = auth.uid()
    ) INTO v_es_superadmin;
    
    IF NOT v_es_superadmin THEN
        RAISE EXCEPTION 'Acceso denegado. Solo un superadministrador puede ejecutar esta accion.';
    END IF;

    IF p_monto_ajuste = 0 THEN
        RETURN TRUE; -- No hay cambio
    END IF;

    -- Asegurar registro
    PERFORM public.ensure_credito_contratante(p_id_contratante, p_moneda);

    -- Determinar operacion
    IF p_monto_ajuste > 0 THEN
        v_tipo_movimiento := 'ABONO';
        v_monto_absoluto := p_monto_ajuste;
    ELSE
        v_tipo_movimiento := 'CARGO';
        v_monto_absoluto := ABS(p_monto_ajuste);
    END IF;

    -- Bloquear y leer saldo actual
    SELECT "CreditoDisponibleEnUnidadMinima" INTO v_saldo_actual
    FROM public."CreditoXContratante"
    WHERE "IdContratante" = p_id_contratante
    FOR UPDATE;

    IF v_tipo_movimiento = 'CARGO' AND v_saldo_actual < v_monto_absoluto THEN
        RAISE EXCEPTION 'Saldo insuficiente. No se puede retirar % creditos del cliente (Saldo: %).', v_monto_absoluto, v_saldo_actual;
    END IF;

    -- Actualizar saldo
    UPDATE public."CreditoXContratante"
    SET "CreditoDisponibleEnUnidadMinima" = "CreditoDisponibleEnUnidadMinima" + p_monto_ajuste,
        "UpdatedAt" = NOW()
    WHERE "IdContratante" = p_id_contratante;

    -- Registrar transaccion de auditoria
    PERFORM public.registrar_tx_credito(
        p_id_contratante,
        v_tipo_movimiento,
        COALESCE(p_motivo, 'AJUSTE_SUPERADMIN'),
        v_monto_absoluto,
        p_moneda,
        NULL,
        NULL,
        'AJUSTE-SA-' || EXTRACT(EPOCH FROM NOW())::BIGINT,
        jsonb_build_object('ejecutado_por', auth.uid(), 'monto_neto', p_monto_ajuste)
    );

    RETURN TRUE;
END;
$body LANGUAGE plpgsql SECURITY DEFINER;

GRANT EXECUTE ON FUNCTION public.ajustar_credito_superadmin(UUID, BIGINT, CHAR, TEXT) TO authenticated;
COMMIT;
